<!DOCTYPE html>
<html>
<!-- Variabln Namen, Aufgelistet für das BackEnd Team:
    -Datum des Filters:   "FilterDate"
    -Login:
          *Username: "sUserName"
          *Password: "sPassword"
    -Registierung:
          *Username: "rUserName"
          *Password: "rPassword"
          *Password2: "rPassword2"
    -Event Daten:
          *Description: "sDescription"
          *Event Name: "sName"
          *Event Date:  "sDate"
          *Event Adress: "sAdress"
    Favoriten:
    main.js:
    Zeile 86: Funktion "checkboxToggle" wird immer aufgerufen wenn ein Hacken gesetzt wurde
    -->
<!-- MetaDaten: -->

<head>
    <meta http-equiv="language" content="german, de">
    <meta charset="utf-8" />
    <meta name="author" content="Hanna Scheub">
    <meta name="keywords" content="Party, PartyLocator, Locator, Partys, Umgebung, Party Sucher, Feiern, Event, Event Finder, Finder">
    <title>EventHub</title>
    <link rel="icon" href="images/mapIcon.PNG">
    <!-- tab icon-->

    <!-- External Libaries-->
    <script src="https://storage.googleapis.com/code.getmdl.io/1.2.1/material.min.js"></script>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.2.1/material.deep_orange-amber.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Cabin|Raleway|Lato" rel="stylesheet">

    <!--Icon library for Like/Dislike Button-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- JQuery-->
    <link rel="stylesheet" href="css/mdl-jquery-modal-dialog/mdl-jquery-modal-dialog.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="css/mdl-jquery-modal-dialog/mdl-jquery-modal-dialog.css">


    <!-- Vue.js-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-scrollto"></script>
    <!-- Picture Input-->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-picture-input"></script>
    <!-- Axios für API Request-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Material Files-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <!-- Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- HERE MAPS -->
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css?dp-version=1533195059" />
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
    <!-- element -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/element-ui/lib/umd/locale/en.js"></script>
    <script>ELEMENT.locale(ELEMENT.lang.en)</script>
    <!-- Own Files-->
    <link rel="stylesheet" href="css/style.css">
</head>

<body class='landingpage bigMap'>
    <!-- Header/Navigation bar-->
    <div id="navigation" class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <img id="logoIcon" src="images/mapIcon.PNG" onclick="refreshpage()" style="cursor: pointer;"/>
                <h1 style="font-size: 30px"> EventHub </h1>
                <!-- Title -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation. Wird versteckt auf kleinen Displays, ist die große oben, nur die extra Seiten aufgelistet da großes Display alles anzeigt -->

                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link headerLink" id="AfterLoginFavoriten" style="visibility: hidden;" @click='showNewFavoriteCard'>Favoriten</a>
                    <a class="mdl-navigation__link headerLink" id="AfterLoginEvent" style="visibility: hidden;" @click='showNewEventCard'>Event
                        eintragen
                    </a>
                    <a class="mdl-navigation__link headerLink" id="AfterLoginLogin" style="visibility: hidden;" @click='showNewLoginCard'>Login</a>

                </nav>
            </div>
        </header>
    </div>
    <!-- Alles rechts neben der Karte-->
    <div id="aside">
        <!-- Date Filter Card-->
        <div id="newDateWrapper" class="sidecardWrapper" v-bind:class="{ hide: !cardShown}">
            <h2>Datum Filter: </h2>
            <div id="newDate" class="sidecard">
                <p>
                    Geben Sie das Datum an für das gefiltert werden soll
                </p>

                <!-- Ausgewahltes Datum wird als "FilterDate gespeichert-->
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <!-- other data formats etc https://element.eleme.io/#/en-US/component/datetime-picker -->
                    <el-date-picker v-model="draft.FilterDate" type="datetimerange" align="right" start-placeholder="Start Date" end-placeholder="End Date"
                        :default-time="['15:00:00', '19:00:00']">
                    </el-date-picker>
                </div>
                <p>
                    Wählen Sie die Kategorien aus nach denen gefiltert werden soll
                </p>
                <!-- Checkboxen: Der Text muss noch bearbeitet werden wg Design und Größe-->
                <input type="checkbox" id="scales" name="feature" value="Kategorie 1" checked /> Kategorie 1
                <input type="checkbox" id="scales" name="feature" value="Kategorie 2" checked /> Kategorie 2
                <input type="checkbox" id="scales" name="feature" value="Kategorie 3" checked /> Kategorie 3
                <input type="checkbox" id="scales" name="feature" value="Kategorie 4" checked /> Kategorie 4

                <div class="buttons">
                    <button style="color:ghostwhite; font-family:Bahnschrift;" class="mdl-button mdl-js-button mdl-button--raised" @click="formsubmit">
                        Filtern
                    </button>
                </div>
            </div>

        </div>
        <!-- Date Filter Card End-->
        <!-- Register Card-->
        <!-- Registiereungs Daten werden immer mit "r." verarbeitet, zum Beispiel "rPassword"/"rUserName"-->
        <div id="newRegisterWrapper" class="sidecardWrapper" v-bind:class="{ hide: !cardShown}">
            <div id="newRegister" class="sidecard">
                <h2>Registrieren</h2>
                <div id="Reg_Pass_Fehler" style="display: none">
                    <i class="material-icons" style="float: left">warning</i>
                    <p style="color:red; ">
                        <b>
                            Die Passwörter müssen übereinstimmen!
                        </b>
                    </p>
                </div>
                <div id="Reg_SONS_Fehler" style="display: none">
                    <i class="material-icons" style="float: left">warning</i>
                    <p style="color:red; ">
                        <b>
                            Bitte fülle alle Felder sinngemäß aus.
                        </b>
                    </p>
                </div>

                <div id="Reg_EMAIL_Fehler" style="display: none">
                    <i class="material-icons" style="float: left">warning</i>
                    <p style="color:red; ">
                        <b>
                            Gib bitte eine echte Email Adresse an.
                        </b>
                    </p>
                </div>




                <div v-bind:class="{ 'is-invalid': draft.nameIsInvalid }" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" maxlength="40" type="text" v-model="draft.rUserName" id="Username">
                    <label class="mdl-textfield__label" for="sample1">Username*</label>
                </div>

                <div v-bind:class="{ 'is-invalid': draft.emailIsInvalid }" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" maxlength="40" type="text" v-model="draft.rEmail" id="email">
                    <label id="emailinputwords" class="mdl-textfield__label" for="sample1">E-Mail*</label>
                </div>

                <div v-bind:class="{ 'is-invalid': draft.passwordIsInvalid }" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" maxlength="40" type="password" v-model="draft.rPassword" id="password1">
                    <label id="passwordinputwords" class="mdl-textfield__label" for="sample1">Passwort*</label>
                </div>
                <div v-bind:class="{ 'is-invalid': draft.password2IsInvalid }" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" maxlength="40" type="password" v-model="draft.rPassword2" id="password2">
                    <label id="passwordinputwords2" class="mdl-textfield__label" for="sample1">erneuert Passwort*</label>
                </div>


                <div class="buttons">
                    <button style="color:ghostwhite; font-family:Bahnschrift;" class="mdl-button mdl-js-button mdl-button--raised" @click="formsubmit">
                        Abschließen
                    </button>
                </div>
            </div>

        </div>
        <!-- Register Card End-->



        <!-- anzeiegen Card End-->
        <!-- Login Card-->
        <!-- Login Daten werden immer mit "s." verarbeitet, zum Beispiel "sPassword"/"sUserName"-->
        <div id="EINLOGEN_Karte">
            <div id="newLoginWrapper" class="sidecardWrapper" v-bind:class="{ hide: !cardShown}">
                <div id="newLogin" class="sidecard">
                    <h2>Einloggen</h2>
                    <div id="LoginFehlerLeer" style="display: none">
                        <i class="material-icons" style="float: left">error_outline</i>
                        <p style="color:red; ">
                            <b>
                                Bitte füllen Sie alle Felder aus!
                            </b>
                        </p>
                    </div>


                    <div id="LoginFehlerDaten" style="display:none">
                        <i class="material-icons" style="float: left">error_outline</i>
                        <p style="color:red; ">
                            <b>
                                Ihr eingegebener Benutzername/Passwort stimmen nicht überein!
                            </b>
                        </p>
                    </div>

                    <div v-bind:class="{ 'is-invalid': draft.emailIsInvalid }" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" maxlength="40" type="text" v-model="draft.sUserName" id="Login_username">
                        <label class="mdl-textfield__label" for="sample1">E-Mail*</label>
                    </div>
                    <div v-bind:class="{ 'is-invalid': draft.passwordIsInvalid }" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" maxlength="40" type="password" v-model="draft.sPassword" id="Login_password">
                        <label class="mdl-textfield__label" for="sample1">Passwort*</label>
                    </div>

                    <div class="buttons">
                        <button class="mdl-button mdl-js-button mdl-button--raised" @click='BobMarleyCard'>
                            Registieren
                        </button>
                        <button class="mdl-button mdl-js-button mdl-button--raised" @click="formsubmit">
                            Login
                        </button>
                    </div>
                </div>
            </div>
            <!-- Login Card End-->
        </div>
        <!-- Karte für Event, Alles rechts neben der Karte-->
        <div id="newEventWrapper" class="sidecardWrapper" v-bind:class="{ hide: !cardShown}">
            <div id="newEvent" class="sidecard">
                <h2>Neues Event eintragen</h2>
                <!-- <div id="displayNewEventError" style="display: none"> -->
                <div v-show="draft.displayError">
                    <i class="material-icons" style="float: left">error_outline</i>
                    <p style="color: #d50000; ">
                        <b>
                            Bitte füllen Sie alle benötigten Felder aus.
                        </b>
                    </p>
                </div>
                <div v-bind:class="{ 'is-invalid': draft.titleIsInvalid }" id="newEventTitle" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" maxlength="40" type="text" v-model="draft.sName">
                    <label class="mdl-textfield__label" for="sample1">Titel*</label>
                </div>
                <div v-bind:class="{ 'is-invalid': draft.descIsInvalid }" id="newEventDescription" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <textarea class="mdl-textfield__input" maxlength="200" type="text" rows="3" maxrows="6" v-model="draft.sDescription"></textarea>
                    <label class="mdl-textfield__label" for="schools">Beschreibung*</label>
                </div>
                <div v-bind:class="{ 'is-invalid': draft.adressIsInvalid }" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input id="newEventAddress" class="mdl-textfield__input" type="text" @keyup="autocomplete" v-model="draft.sAdress">
                    <label class="mdl-textfield__label" for="sample1">Adresse*</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input type="url" pattern="https://.*" placeholder="https://example.com" class="mdl-textfield__input" v-model="draft.sEventLink">
                    <label class="mdl-textfield__label" for="sample1">Link</label>
                </div>

                <div id="newEventDate" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <p>Datum*</p>
                    <!-- other data formats etc https://element.eleme.io/#/en-US/component/datetime-picker-->
                    <el-date-picker v-bind:class="{ redBorder: draft.dateIsInvalid}" v-model="draft.EDate" type="datetimerange" align="right"
                        start-placeholder="Startdatum" end-placeholder="Enddatum" :default-time="['15:00:00', '19:00:00']">
                    </el-date-picker>
                </div>

                <div class="file-upload-form">
                    Lade ein Eventbild hoch:
                    <input id="imageUpload" class="imageUpload" class="mdl-textfield__input" type="file" @change="onFileSelected" accept="image/*">
                </div>
                <div class="image-preview" v-if="draft.oSelectedFile.length > 0">
                    <img class="preview" :src="draft.oSelectedFile">
                </div>
                <!--label for="imageUpload">Laden Sie Ihr Eventbild hoch!</label-->
                <div class="buttons">
                    <!-- <button style="color:ghostwhite; font-family:Bahnschrift;" class="mdl-button mdl-js-button mdl-button--raised" @click="formdraft">
                        Vorschau
                    </button> -->
                    <button style="color:ghostwhite; font-family:Bahnschrift;" class="mdl-button mdl-js-button mdl-button--raised" @click="formsubmit">
                        Senden
                    </button>
                </div>
            </div>
        </div>
        <div class="sidecardWrapper">

            <!--input id="searchEvent" style="width: 250px; height: 30px; padding: 0px 4px" type="text" placeholder="Eventname eingeben"
                v-model="sQuery" @keyup.enter="searchEvent"><input-->
            <ul id="eventTable" class="sidecard demo-list-three mdl-list">
                <h2 id="h2events"> Events </h2>
                <li v-for="event in filteredList" class="mdl-list__item mdl-list__item--three-line" :class="{selected:event.iEventId == selected, faved: event.faved}"
                    @click="select(event)" v-bind:id="event.iEventId">
                    <span class="mdl-list__item-primary-content">
                        <img v-bind:src="event.oImage" class="eventSymbol" height="65" width="65">
                        <!--{{ event.oImage }} i class="material-icons mdl-list__item-avatar">person</i-->
                        <span>{{ event.sName }}</span>
                        <span id="sterne" v-bind:style="{visibility : starVisibility}" name="stern">
                            <a class="mdl-list__item-secondary-action favstar" @click.stop="favToggle(event)"><i class="material-icons">star</i></a>
                        </span>
                        <span class="mdl-list__item-text-body">{{ event.sDescription }}</span>
                        <i class="fa fa-calendar" style="font-size:18px"></i>
                        <span class=nobr class="mdl-list__item-text-body">{{ event.oStartDate }}</span>
                        <i class="fa fa-clock-o" style="font-size:18px"></i>
                        <span class=nobr class="mdl-list__item-text-body">{{ event.oStartTime }}</span>
                        <span class=nobr> - </span>
                        <!-- <br style="line-height: 150%;"> -->
                        <i class="fa fa-calendar" style="font-size:18px"></i>
                        <span class=nobr class="mdl-list__item-text-body">{{ event.oEndDate }}</span>
                        <i class="fa fa-clock-o" style="font-size:18px"></i>
                        <span class=nobr class="mdl-list__item-text-body">{{ event.oEndTime }}</span>
                        <br style="line-height: 150%;">
                        <i class="fa fa-map-marker" style="font-size:24px"></i>
                        <span class=nobr class="mdl-list__item-text-body">{{ event.sAdress }}</span>
                        <br style="line-height: 150%">
                        <div v-bind:style="{ display: event.sDisplayEventLink }">
                            <i class="fa fa-globe" aria-hidden="true" style="font-size:20px"></i>
                            <span class=nobr class="link" class="mdl-list__item-text-body">
                                <a :href="event.sEventLink" target="_blank">{{ event.sEventLink }}</a>
                            </span>
                        </div>

                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" id="show-dialog" @click.stop="KommentarGemacht(event.iEventId, event.sName, event.sDescription, event.aComments)"
                                type="text" id="sample1">
                            <label class="mdl-textfield__label" for="sample1">Kommentiere und bewerte hier...</label>
                        </div>
                        <!-- Popup Dialog -->

                        <dialog id="kommentardialoge" class="mdl-dialog" style="width: 550px; opacity:2;">
                            <div data-tilt-speed="1000" data-tilt-max="5" data-tilt data-tilt-scale="1.025" data-tilt-perspective="1000">

                                <div style="background-color:whitesmoke">

                                    <h4 class="mdl-dialog__title" style="font-family:Bahnschrift;" id="kommiüberschrift">Kommentare</h4>
                                    <div class="mdl-dialog__content">

                                        <p style="color:black;  font-family:Bahnschrift;" id="eventidkommentare"> haha</p>

                                        <!-- Use an element to toggle between a like/dislike icon -->
                                        <i onclick="LikeButton(this)" id="haha" style="color:grey; position: absolute; right: 8%;" class="fa fa-thumbs-down thumbs"></i>
                                        <i onclick="LikeButton2(this)" id="idThumbUp" style="position: absolute; color:grey; right: 14%;" class="fa fa-thumbs-up thumbs"></i>
                                        <!-- Man kann nur gut oder schlecht bewerten, nicht beides gleichzeitig-->
                                        <script>
                                            function LikeButton(x) {
                                                if (x.style.color != "red") {
                                                    document.getElementById('idThumbUp').style.color = "grey";
                                                    var ratingRequest = new XMLHttpRequest();
                                                    var onSuccess = function onSuccess() {
                                                        if (this.status == 200) {
                                                            var selected_event = oEventTableVue.allEvents.find(obj => {
                                                                return obj.iEventId == oEventTableVue.selected
                                                            });
                                                            if (nochniebewertet == true) {
                                                                aktuellebewertung = aktuellebewertung - 1; nochniebewertet = false;
                                                            }
                                                            else {
                                                                aktuellebewertung = aktuellebewertung - 2;
                                                            }
                                                        }
                                                        console.log("rating sent");
                                                        x.style.color = "red";
                                                        document.getElementById('ratingnumber').innerText = aktuellebewertung;
                                                    };
                                                    var onFailed = function onFailed() {
                                                        console.log("failed");
                                                    };
                                                    ratingRequest.addEventListener("load", onSuccess);
                                                    ratingRequest.addEventListener("error", onFailed);
                                                    ratingRequest.responseType = "json";
                                                    ratingRequest.open("POST", "http://localhost:3000/events/rate", true);
                                                    ratingRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                                                    var sFormData = "rating=" + "-1" + "&userId=" + loggedInUser._id + "&eventId=" + oEventTableVue.selected;
                                                    ratingRequest.send(sFormData);
                                                }
                                            }
                                            function LikeButton2(x) {
                                                if (x.style.color != "green") {
                                                    var ratingRequest = new XMLHttpRequest();
                                                    var comment = document.querySelector("#idComment").value;
                                                    var onSuccess = function onSuccess() {
                                                        var selected_event = oEventTableVue.allEvents.find(obj => {
                                                            return obj.iEventId == oEventTableVue.selected
                                                        });
                                                        if (nochniebewertet == true) {
                                                            aktuellebewertung = aktuellebewertung + 1; nochniebewertet = false;
                                                        }
                                                        else {
                                                            aktuellebewertung = aktuellebewertung + 2;
                                                        }
                                                        //2 besser setzen da gut bewertet
                                                        if (this.status == 200) {
                                                            console.log("rating sent");
                                                            x.style.color = "green";
                                                            document.getElementById('haha').style.color = "grey";
                                                            document.getElementById('ratingnumber').innerText = aktuellebewertung;
                                                        }
                                                    };
                                                    var onFailed = function onFailed() {
                                                        console.log("failed");
                                                    };
                                                    ratingRequest.addEventListener("load", onSuccess);
                                                    ratingRequest.addEventListener("error", onFailed);
                                                    ratingRequest.responseType = "json";
                                                    ratingRequest.open("POST", "http://localhost:3000/events/rate", true);
                                                    ratingRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                                                    var sFormData = "rating=" + "1" + "&userId=" + loggedInUser._id + "&eventId=" + oEventTableVue.selected;
                                                    ratingRequest.send(sFormData);
                                                }
                                            }
                                        </script>
                                        <div>

                                            <p id="ratingnumber" style="float:right;color:black; margin-right: 18%; font-size: x-large;">zahl</p>


                                            <div style="clear:both; width: 370px; float:left;" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                <input class="mdl-textfield__input" type="text" id="idComment">
                                                <label class="mdl-textfield__label" for="sample1">Kommentiere hier..</label>
                                            </div>

                                            <button id="meins" style="color:white; font-family:Bahnschrift; float:right;margin-right: 4%;background-color: #365067;width: 100px; top: 4px;left: 20px; height: 40px; padding: 0px 4px"
                                                @click="kommentargeschickt" type="button" class="mdl-button">Abschicken</button>

                                            <br />
                                        </div>

                                        <ul id="commentTable" style="clear:both; background-color:lightgrey; float:initial" class="sidecard demo-list-three mdl-list">

                                            <li v-for="comment in commentList" class="mdl-list__item mdl-list__item-three-line" v-bind:id="comment._id">
                                                <span class="mdl-list__item-primary-content">
                                                    <!-- <i class="material-icons mdl-list__item-avatar">person</i> -->
                                                    <!-- <span id="name">{{ comment.name }}</span> -->
                                                    <span style="font-weight: bold;">{{ comment.username }}</span>
                                                    <br style="line-height: 150%;" />
                                                    <i class="fa fa-comment" style="font-size:18px"></i>
                                                    <span class=nobr class="mdl-list__item-text-body">{{ comment.comment
                                                        }}
                                                    </span>
                                                    <br style="line-height: 150%;" />
                                                </span>

                                            </li>
                                        </ul>
                                    </div>
                                    <button type="button" class="mdl-button close">close</button>
                                </div>
                            </div>
                        </dialog>

        </div>
        </span>

        </li>
        </ul>
    </div>
    </div>


    <div id="searchPlace" class="sidecard" data-tilt-speed="1000" data-tilt-max="5" data-tilt data-tilt-scale="1.025" data-tilt-perspective="1000">
        <h1>Finde Veranstaltungen in deiner Gegend.</h1>

        <!-- Searchbar for places  @keyup="autocomplete" @keyup.enter="searchPlace" -->

        <div id="searchPlaceInner" autocomplete="off">
            <h2>ORT</h2>
            <div id="idDatePickerErrorEmpty" style="display: none">
                <i class="material-icons" style="float: left">error_outline</i>
                <p style="color:red; ">
                    <b>
                        Bitte wählen Sie kein vergangenes Datum aus!
                    </b>
                </p>
            </div>
            <div id="idSearchBar" class="autocomplete" style="width:370;">
                <input id="searchInput" class="el-input__inner" type="text" placeholder="Suchort eingeben" v-model="sQuery" @keyup="autocomplete">
                <!--  @keyup.enter="searchPlace" -->
            </div>
            <h2>VON-BIS</h2>
            <!-- other data formats etc https://element.eleme.io/#/en-US/component/datetime-picker -->
            <el-date-picker id="idDatePickerInput" v-model="dDate" type="datetimerange" align="right" start-placeholder="Start Datum"
                end-placeholder="End Datum" :default-time="['00:00:00', '23:59:59']" :picker-options="pickerOptions">
            </el-date-picker>

            <!-- insert drop down for event types-->

            <button class="mdl-button mdl-js-button" name="action" @click="searchPlace">
                Suche
            </button>

        </div>



    </div>

    </div>
    <!-- Seachbar Ends here-->
    </div>


    <!-- Map-->
    <div id="map"></div>

    <!-- vue datein-->
    <!-- <script type="text/javascript" src="js/vues/eventTableVue.js"></script>
    <script type="text/javascript" src="js/vues/favoriteVue.js"></script>
    <script type="text/javascript" src="js/vues/navigationVue.js"></script>
    <script type="text/javascript" src="js/vues/newDateVue.js"></script>
    <script type="text/javascript" src="js/vues/newEventVue.js"></script>
    <script type="text/javascript" src="js/vues/newLoginVue.js"></script>
    <script type="text/javascript" src="js/vues/registerVue.js"></script>
    <script type="text/javascript" src="js/vues/searchPlaceVue.js"></script> -->
    <!-- own script files-->
    <script type="text/javascript" src="js/Map.js"></script>
    <script type="text/javascript" src="js/testdata.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <!-- tilt libary for css animations -->
    <script type="text/javascript" src="js/vanilla-tilt.min.js"></script>

</body>

</html>