html, body {
   background-attachment: fixed;
   background-size: cover;
}

form#placeSearch {
  position: fixed;
  top: 140px;
  left: 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10
}

h1 {
  margin: 5px 5px 5px 0;
}

#map {
  position: fixed;
  width: calc(100% - 790px);
  height: 95%;
  top: 5%;
  left: 0px;
  z-index: 1;
}


.mdl-layout__header {
  position: fixed;
}
