html {
   background-image: url("../images/festival.jpg");
   background-attachment: fixed;
   background-size: cover;
}

header.mdl-layout__header{
   color: white;
   font-family: Bahnschrift;
   background-color:darkslategrey;
}

.mdl-navigation__link{ cursor: pointer }
.mdl-navigation__link:hover{ background-color: rgba(255, 255, 255, 0.05) }
.mdl-navigation__link:active{ background-color: rgba(255, 255, 255, 0.1) }



.landingpage h1 {
  margin: 5px 5px 5px 0;
  display: block;
  transform: translateZ(20px);
  max-height: 100px;
}

h1{
  margin: 0px;
  max-height: 0px;
  color: ghostwhite;
  transition: max-height 0.5s;
  overflow:hidden;
}

.landingpage #searchPlaceInner{
  transform: translateZ(25px);
}

.hide {
  height: 0px;
  overflow: hidden;
}

.landingpage div#aside, .landingpage div#map {
  opacity: 0;
}

.landingpage div#searchPlace {
  top: 50%;
  margin-top: -110px;
  margin-left: -165px;
  left: 50%;
  padding: 10px;
  transform-style: preserve-3d;
}

#searchPlace {
  position: fixed;
  transition: all 200ms cubic-bezier(0.69, 0.11, 0.27, 1.03);
  top: 84px;
  left: 20px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
}

div#aside {
  width: 40%;
  position:absolute;
  top: 100px;
  right: 0;
  box-sizing: border-box;
  padding: 3%;
  opacity: 1;
}

div#aside, div#map{
  transition: opacity 0.2s linear;
}

div.sidecard {

}

.sidecard h2 {
  color:ghostwhite; font-family: Bahnschrift;
}

#eventTable {
  background-color:whitesmoke;
  overflow:auto
}

#eventTable li.mdl-list__item:hover{ background-color: rgba(0, 0, 0, 0.04) }
#eventTable li.mdl-list__item:active{ background-color: rgba(0, 0, 0, 0.06) }

#eventTable .mdl-list__item--three-line {
  height: auto;
  padding: 20px;
}

#eventTable li.mdl-list__item--three-line.selected .mdl-list__item-primary-content {
  height: auto;
}

#eventTable span.mdl-list__item-text-body:empty {
  display: none;
}




#newEventWrapper {
  transition: margin 0.5s;
  margin: 0px
}
#newEventWrapper.hide {
  margin: -100px 0px 100px 0px
}

#newEvent {
  background-color:whitesmoke;
  padding: 20px 25px;
  font-size: 18px
}

#newEvent p{
  margin: 5px 0px 25px 0px;
  font-size: 18px
}

#newEvent .mdl-textfield {
  margin: -12px 0px;
  display: block;
  width: auto;
}

#newEvent mdl-textfield__input{
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
}
#newEvent .buttons {
  text-align: right;
  padding: 10px 10px 3px 0px;
}
#newEvent .buttons button {
  background-color: rgba(47, 66, 79, 0.66);
  margin-left: 10px;
}
#newEvent .buttons button:hover {background-color: rgba(47, 66, 79, 0.46);}
#newEvent .buttons button:active {background-color: rgba(47, 66, 79, 0.26);}

#newEvent .el-date-editor--datetimerange.el-input, #newEvent .el-date-editor--datetimerange.el-input__inner {
    width: 100%;
}

#map {
  position: fixed;
  width: 60%;
  height: 95%;
  top: 5%;
  left: 0px;
  z-index: 1;
  opacity: 1;
}


.mdl-layout__header {
  position: fixed;
}


/* Autocomplete stuff */

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
