 body, #app {
  width: 100%;
  height: 100%;
  margin: 0;
  position: absolute;
}

header, footer,
nav, #map, aside {
  border: 0;
  padding: 0;
  margin: 0;
}

.vbox {
  display:         flex;
  flex-direction: column;
}

.hbox {
  display:         flex;
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

header, footer {
  height: 80px;
}

.main {
  flex: 1;
}

div#map {
  flex: 5;
}

aside {
  flex: 2;
  padding: 10px;
  background-color: #eee;
}
